body{
    background-color: black;
    background-image: repeating-conic-gradient(blue 10%,black 20%);
    padding-top: 70px;
    content: " ";
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: aliceblue;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background:lightskyblue;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background:blue;
    border-radius: 10px;
}
.nav-link:hover{
    color:wheat;
}
.nav-link{
    color: black;
}
.nav{
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}

@media only screen and  (max-width: 578px){
    .nav{
        display:grid;
        grid-template-columns: 150px 150px;
        grid-gap:10px
    }
}

.page-link:hover{
        background-color:lightskyblue;
}

.grid{
    color: burlywood;
    display: grid;
    grid-template-columns:repeat(auto-fit,315px) ;
    justify-content: center;
}
p{
    color:white;
}
figcaption{
    border:10px solid white ;
    text-align: center;
}

.bi-heart:hover{
    color:red;
}
.bi-heart{
    float: right;
}

.card-text{
 color:black;
}
.border{
    border:  solid white;
    background-color: dodgerblue;
}
hr{
    color:white;
}
.bi-apple{
    color:gray;
}
.bi-xbox{
    color:green;
}
.bi-facebook{
    color:lightblue;
}
.bi-youtube{
    color:red;
}
.bi-twitter{
    color:blue;
}
.bi-instagram{
    border-radius: 30%;
    background: radial-gradient(circle at 30% , #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%) !important;
    -webkit-background-clip:text ;
    /* Defining standard property for compatibility */
    background-clip:text;
    -webkit-text-fill-color: transparent;
}
.bi-suit-heart{
    float: right;
}

